<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lukemi.android.tutorial">
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 设置桌面图标 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- LED灯权限4个 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--
      <uses-feature android:name="android.hardware.camera" />
      <uses-feature android:name="android.hardware.camera.autofocus" />
      <uses-feature android:name="android.hardware.camera.flash" />
    -->
    <!-- 重复 -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- 百度定位权限开始 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".widget.IncludeActivity"></activity>
        <!-- 百度定位配置 start -->
        <!-- key:开发者申请的Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/bai_du_location_key" /> <!-- 百度定位配置 end -->
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/WelcActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SystemActivity" />
        <activity android:name=".system.CloseAppActivity" />
        <activity android:name=".widget.ScrollViewActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".lifecycle.Session1Activity" />
        <activity android:name=".lifecycle.Session2Activity" />
        <activity android:name=".sdf.SpActivity" />
        <activity android:name=".handler.BaseHandlerActivity" />
        <activity android:name=".handler.HandlerTestActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity
            android:name=".animation.TweenActivity"
            android:label="TweenActivity" />
        <activity android:name=".animation.FrameActivity" />
        <activity android:name=".animation.PropertyActivity" />
        <activity android:name=".animation.ScaleActivity" />
        <activity
            android:name=".utiltest.DeviceutilActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".getappchannelactivity.GetAppchannelActivity" />
        <activity android:name=".utiltest.ZipUtilActivity" />
        <activity android:name=".handler.HandlerPostActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".viewtest.EleSignActivity" />
        <activity android:name=".viewtest.CViewActivity" />
        <activity
            android:name=".widget.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".fluxanalistics.FluxActivity" />
        <activity android:name=".receiver.ReceiverActivity" />
        <activity android:name=".plug.PlugActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".killprocess.AppStaticsActivity" />
        <activity android:name=".killprocess.ProcessDetailActivity" />
        <activity android:name=".network_operation.NetworkActivity" />
        <activity android:name=".mob_sms.Mob_SMS_Activity" />
        <activity android:name=".weather.WeatherActivity" />
        <activity
            android:name=".baidu.BDLocActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".baidu.BDLocQuestionActivity" />
        <activity android:name=".camera.WX_Camera_Activity" />
        <activity android:name=".utiltest.ToastUtilActivity" />
        <activity android:name=".viewtest.DialogUtilActivity" />
        <activity android:name=".SchemeActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="video"
                    android:scheme="myandroid" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.WidgetActivity"
            android:label="控件大全" />
        <activity
            android:name=".widget.TextViewActivity"
            android:label="TextView控件效果" />
        <activity
            android:name=".widget.EditTextActivity"
            android:label="EditText控件效果"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".widget.ImageViewActivity" />
        <activity android:name=".widget.wechat.activity.WeChatLoginActivity" />
        <activity android:name=".widget.ViewPrintActivity" />
        <activity android:name=".utiltest.BitmapUtilActivity" /> <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
        <activity android:name=".utiltest.UtilMainActivity" />
        <activity android:name=".widget.wechat.activity.WeChatMainActivity" />
        <activity android:name=".widget.TableLayoutActivity" />
        <activity android:name=".widget.satin.SatinMainActivity" />
        <activity android:name=".viewtest.ZoomHeadListViewActivity" />
        <activity android:name=".widget.TabLayoutActivity" />
        <activity android:name=".widget.ListViewActivity" />
        <activity android:name=".baidu.BDActivity" />
        <activity android:name=".ThirdAPIActivity" />
        <activity android:name=".system.WallPaperActivity" />
        <activity android:name=".system.SystemAppListActivity" />
        <activity android:name=".system.SettingAppActivity" />
        <activity android:name=".system.FlashActivity" />
        <activity android:name=".db.GreenDaoActivity" />
        <activity android:name=".evenbus.EvenBusSendActivity" />
        <activity android:name=".evenbus.EventBusReceiveActivity" />
        <activity android:name=".widget.DialogActivity" />
        <activity android:name=".viewtest.ClipPhotoViewActivity" />
        <activity android:name=".viewtest.UploadActivity" />
        <activity android:name=".widget.RGActivity" />
        <activity android:name=".widget.ReccyclerViewActivity" />
        <activity android:name=".evenbus.BackEvenBUSFragment_Activity" />
        <activity android:name=".evenbus.ForgroundActivity" />
        <activity android:name=".widget.wechat.CommentActivity" />
        <activity android:name=".widget.brvah.BRVAHActivity" />
        <activity android:name=".widget.brvah.MultieBRVAHActivity" />
        <activity android:name=".widget.brvah.BaseQuickActivity" />
        <activity android:name=".jsoup.JsoupActivity" />
        <activity android:name=".widget.JSAndroidActivity" />
        <activity android:name=".widget.LifecycleFragmentActivity" />
        <activity android:name=".widget.ViewPagerActivity" />
        <activity android:name=".viewtest.RVRefreshViewActivity" />
        <activity android:name=".AppInfoActivity" />
        <activity android:name=".news_today.NewListActivity" />
        <activity android:name=".widget.CoordinaryLayoutActivity" />
        <activity android:name=".widget.ConstraintLayoutActivity" />
        <activity android:name=".widget.MeasureViewActivity" />
        <activity android:name=".main.RadioGroupMainActivity" />
        <activity android:name=".widget.ImageViewCenterInsideActivity" />
        <activity android:name=".widget.RoundImageViewListActivity" />
        <activity android:name=".utiltest.FlowLayoutActivity" />
        <activity android:name=".viewtest.SingleLineLinearlayoutActivity" />
        <activity android:name=".utiltest.ScannerActivity" />
        <activity android:name=".widget.WebviewDownloadActivity" />
        <activity android:name=".list_r.RvDividerActivity" />
        <activity android:name=".user.login.ui.LoginActivity" />
        <activity android:name=".user.userInfo.ui.UserInfoActivity" />
        <activity android:name=".set.IconSetActivity" />

        <activity-alias
            android:name=".set.NewLaunchActivity"
            android:enabled="false"
            android:icon="@drawable/b"
            android:label="@string/app_name_type"
            android:targetActivity=".set.IconSetActivity" />

        <activity android:name=".set.NewLaunchActivity" />
        <activity android:name=".dagger2.StudentActivity" />
        <activity android:name=".rxJava.RxJavaActivity" />
        <activity android:name=".volum.VolumeActivity" />
        <activity android:name=".gps.GpsActivity" />
        <activity android:name=".status.StatusActivity" />
        <activity android:name=".user.register.RegisterActivity" />
        <activity
            android:name=".recommend.RecommendActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".github.GitHubActivity" />
        <activity android:name=".weather.view.WeatherActivity" />
        <activity android:name=".anim.AnimationActivity" />
        <activity android:name=".anim.TweenAnimActivity" />
        <activity android:name=".anim.FrameAnimActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />
        <activity
            android:name=".popup.PopupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".touch.TouchEventActivity" />
        <activity android:name=".clip.ClipActivity" />
        <activity android:name=".widget.AutoCopleteActivity" />
        <activity android:name=".state.StateActivity" />
        <activity android:name=".view.FlowActivity" />
        <activity
            android:name=".view.SignActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.EmotionalFaceActivity" />
        <activity android:name=".view.CoordinateViewActivity" />
        <activity android:name=".category.ComponentActivity" />
        <activity android:name=".aidl.AidlClientActivity" />
        <activity android:name=".AndroidActivity" />
        <activity android:name=".IPCActivity" />
        <activity android:name=".widget.CustomViewListActivity" />
        <activity android:name=".SystemMemoryActivity" />
        <activity android:name=".widget.MergeActivity" />
        <activity android:name=".widget.ViewStubActivity" />
        <activity android:name=".system.ScreenShotForbiddenActivity" />
        <activity android:name=".widget.SoftInputModeActivity" />
        <activity android:name=".manager.ActivityManagerActivity" />
        <activity android:name=".manager.ManagerStatisticsActivity" />
        <activity android:name=".lifecycle.NewTaskActivity" />
        <activity android:name=".statics.StaticFieldActivity" />

        <!-- 百度服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:process=":foreground_service" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="com.lukemi.foregroundservice.destroy" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>



        <service
            android:name=".volum.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".glide.GlideActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lukemi.android.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>

</manifest>