<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lukemi.android.tutorial">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 百度定位权限开始 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme">

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".api.vibrator.VibratorActivity" />

        <activity android:name=".api.sensor.SensorActivity" />

        <activity android:name=".system.SystemShareActivity" />
        <activity android:name=".api.AndroidApiActivity" />
        <!-- 语音合成 -->
        <activity android:name=".TTSActivity" />

        <!-- 百度定位配置 start -->
        <!-- key:开发者申请的Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/bai_du_location_key" />
        <!-- 百度定位配置 end -->

        <activity android:name=".system.SystemActivity" />
        <activity android:name=".system.CloseAppActivity" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".lifecycle.Session1Activity" />
        <activity android:name=".lifecycle.Session2Activity" />
        <activity android:name=".sdf.SpActivity" />
        <activity android:name=".handler.BaseHandlerActivity" />
        <activity android:name=".handler.HandlerTestActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity
            android:name=".animation.TweenActivity"
            android:label="TweenActivity" />
        <activity android:name=".animation.FrameActivity" />
        <activity android:name=".animation.PropertyActivity" />
        <activity android:name=".animation.ScaleActivity" />
        <!-- <activity android:name=".webservice.WebServiceActivity" /> -->
        <activity
            android:name=".utiltest.DeviceutilActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".getappchannelactivity.GetAppchannelActivity" />
        <activity android:name=".utiltest.ZipUtilActivity" />
        <activity android:name=".handler.HandlerPostActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".viewtest.EleSignActivity" />
        <activity android:name=".viewtest.CViewActivity" />

        <activity android:name=".fluxanalistics.FluxActivity" />
        <activity android:name=".receiver.ReceiverActivity" />
        <activity android:name=".plug.PlugActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".killprocess.AppStaticsActivity" />
        <activity android:name=".killprocess.ProcessDetailActivity" />
        <activity android:name=".network_operation.NetworkActivity" />
        <activity android:name=".mob_sms.Mob_SMS_Activity" />
        <activity android:name=".weather.WeatherActivity" />
        <activity
            android:name=".baidu.BDLocActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".baidu.BDLocQuestionActivity" />
        <activity android:name=".camera.WX_Camera_Activity" />
        <activity android:name=".utiltest.ToastUtilActivity" />

        <activity android:name=".SchemeActivity" />


        <activity android:name=".utiltest.BitmapUtilActivity" />
        <activity android:name=".utiltest.UtilMainActivity" />
        <activity android:name=".viewtest.ZoomHeadListViewActivity" />

        <activity android:name=".baidu.BDActivity" />
        <activity android:name=".ThirdAPIActivity" />
        <activity android:name=".system.WallPaperActivity" />
        <activity android:name=".system.SystemAppListActivity" />
        <activity android:name=".system.SettingAppActivity" />
        <activity android:name=".system.FlashActivity" />
        <activity android:name=".db.GreenDaoActivity" />
        <activity android:name=".evenbus.EvenBusSendActivity" />
        <activity android:name=".evenbus.EventBusReceiveActivity" />

        <activity android:name=".viewtest.ClipPhotoViewActivity" />
        <activity android:name=".viewtest.UploadActivity" />

        <activity android:name=".evenbus.BackEvenBUSFragment_Activity" />
        <activity android:name=".evenbus.ForgroundActivity" />

        <activity android:name="com.lukemi.android.tutorial.brvah.BRVAHActivity" />
        <activity android:name="com.lukemi.android.tutorial.brvah.MultieBRVAHActivity" />
        <activity android:name="com.lukemi.android.tutorial.brvah.BaseQuickActivity" />
        <activity android:name=".jsoup.JsoupActivity" />

        <activity android:name=".viewtest.RVRefreshViewActivity" />
        <activity android:name=".AppInfoActivity" />
        <activity android:name=".news_today.NewListActivity" />

        <activity android:name=".main.RadioGroupMainActivity" />
        <activity android:name=".utiltest.FlowLayoutActivity" />

        <activity android:name=".viewtest.SingleLineLinearlayoutActivity" />
        <activity android:name=".utiltest.ScannerActivity" />

        <activity android:name=".list_r.RvDividerActivity" />
        <activity android:name=".user.login.ui.LoginActivity" />
        <activity android:name=".user.userInfo.ui.UserInfoActivity" />
        <activity android:name=".set.IconSetActivity" />

        <activity-alias
            android:name=".set.NewLaunchActivity"
            android:enabled="false"
            android:icon="@drawable/b"
            android:label="@string/app_name_type"
            android:targetActivity=".set.IconSetActivity" />

        <activity android:name=".set.NewLaunchActivity" />
        <activity android:name=".dagger2.StudentActivity" />
        <activity android:name=".rxJava.RxJavaActivity" />
        <activity android:name=".volum.VolumeActivity" />
        <activity android:name=".api.gps.GpsActivity" />
        <activity android:name=".status.StatusActivity" />
        <activity android:name=".user.register.RegisterActivity" />
        <activity
            android:name=".recommend.RecommendActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".github.GitHubActivity" />
        <activity android:name=".weather.view.WeatherActivity" />
        <activity android:name=".anim.AnimationActivity" />
        <activity android:name=".anim.TweenAnimActivity" />
        <activity android:name=".anim.FrameAnimActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />

        <activity android:name=".touch.TouchEventActivity" />
        <activity android:name=".clip.ClipActivity" />

        <activity android:name=".state.StateActivity" />
        <activity android:name=".view.FlowActivity" />

        <activity android:name=".view.CoordinateViewActivity" />
        <activity android:name=".category.ComponentActivity" />
        <activity android:name=".aidl.AidlClientActivity" />
        <activity android:name=".AndroidActivity" />
        <activity android:name=".IPCActivity" />

        <activity android:name=".SystemMemoryActivity" />

        <activity android:name=".system.ScreenShotForbiddenActivity" />

        <activity android:name=".manager.ActivityManagerActivity" />
        <activity android:name=".manager.ManagerStatisticsActivity" />
        <activity android:name=".lifecycle.NewTaskActivity" />
        <activity android:name=".statics.StaticFieldActivity" /> <!-- 百度服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:process=":foreground_service" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="com.lukemi.foregroundservice.destroy" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".volum.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".glide.GlideActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lukemi.android.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".anim.Angle90RecycleActivity" />

        <activity android:name=".RoundImageViewListActivity" />
    </application>

</manifest>